@import url(../fonts/font-awesome.min.css);
body {
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    color: #676666;
}

a {
    color: #d4643d;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

a:hover,
a:focus {
    color: #b94f28;
}

.text-uppercase {
    text-transform: uppercase;
}

.color_red {
    color: #d4643d !important;
}

.color_navy {
    color: #3d4756;
}

.color_bluegreen {
    color: #9ad2d9;
}

.color_charcoal {
    color: #353535;
}

.color_grey {
    color: #bcbcbc;
}

.color_grey-dk {
    color: #676666;
}

.color_grey-lt {
    color: #f1f1f2;
}

.color_white {
    color: #fff;
}

.bg_red {
    background: #d4643d;
}

.bg_grey-lt {
    background: #f1f1f2;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.row {
    max-width: 1200px;
    position: relative;
}

.row .row {
    margin-left: -20px;
    margin-right: -20px;
}

.column,
.columns {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}

h1.primary {
    font-size: 64px;
}

h2 {
    font-size: 40px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    line-height: normal;
    color: #353535;
}

h3 {
    font-size: 30px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    color: #353535;
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    color: #353535;
    line-height: 1;
}

h5 {
    font-size: 20px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}

p {
    color: #676767;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
}

.big,
.lead {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 5px;
    line-height: 32px;
}

small {
    font-size: 12px;
    color: #9ad2d9;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 15px;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
}

small a {
    color: #9ad2d9;
}

blockquote,
blockquote p {
    font-size: 23px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: italic;
    border-left: none;
    line-height: 35px;
    padding: 0;
    color: #979797;
}

.btn {
    padding: 13px 20px;
    max-width: 270px;
    font-size: 16px;
    border: 2px solid #bcbcbc;
    letter-spacing: 1px;
    line-height: 18px;
    display: block;
    text-align: center;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: bold;
}

.btn.small {
    max-width: 250px;
}

.btn:hover,
.btn:focus,
.btn-primary {
    background: #d4643d;
    border: 2px solid #d4643d;
    color: #fff;
}

.btn-primary:hover {
    background: #b94d28;
    border-color: #b94d28;
}

.top-bar {
    padding: 0px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.admin-bar .top-bar {
    top: 28px;
}

.sticky {
    width: 100%;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.sticky .b-fix {
    display: inline-block;
}

.logo img {
    width: 150px;
}

.page-template-template-blog .sticky .b-fix,
.singular .sticky .b-fix {
    max-width: 149px;
}

.sticky .a-fix {
    display: none;
}

.sticky.is-stuck {
    width: 100%;
    background: #3C4755;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sticky.is-stuck .b-fix {
    width: 130px;
}


/*.sticky.is-stuck .a-fix{display:inline-block;width:130px;}*/

.sticky.is-stuck .menu li a,
.sticky.is-stuck .ubermenu li a {
    color: #fff;
}

.sticky.is-stuck .menu li a:hover,
.sticky.is-stuck .ubermenu li a:hover {
    color: #d4643d;
}

.sticky.is-stuck .phone-sec {
    padding: 22px 30px 22px 25px;
}

.sticky.is-stuck .top-bar-right .menu {
    margin-top: 15px;
}

.top-bar,
.top-bar ul {
    background: none;
}

.logo {
    margin-left: 50px;
    margin-top: 5px;
    display: inline-block;
}

.archive.category a.logo {
    max-width: 150px;
}

.top-bar .top-bar-right {
    float: right;
}

.main-menu {
    float: right;
    text-transform: uppercase;
}

.top-bar-right .menu {
    float: right;
    clear: right;
    margin-top: 20px;
}

.top-bar-right .menu li {
    padding: 0 20px;
}

.top-bar-right .menu li a {
    color: #fff;
    padding: 0
}

.top-bar-right .menu li a:hover {
    color: #d4643d;
}

.menu.useful {
    float: right;
    clear: left;
    margin-top: 20px;
}

.menu.useful li {
    font-size: 14px;
}

.phone-sec {
    display: flex;
    align-items: center;
    order: 2;
    float: right;
    background: #d4643d;
    padding: 26px 40px 26px 35px;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.phone-sec:hover {
    background: #b94d28;
}

.phone-sec a,  
.phone-sec a:focus, 
.phone-sec span {
    color: #fff;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
}

.phone-sec p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

/*.phone-sec span{display:inline-block;font-size:14px;line-height:17px;text-decoration:underline;letter-spacing:0px;padding-top:0px;color:#fff;cursor:pointer;}*/
.phone-sec span:hover {
    text-decoration: none;
}

.banner {
    background: url(../images/banner-img.jpg) no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 100%;
    padding: 350px 0;
    position: relative;
    vertical-align: top;
    z-index: 0;
}

.banner-innerpage {
    background: url(../images/innerpage-bnr.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 40px;
}

.banner-innerpage.contact {
    background: url(../images/contact-bnr.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
}

.banner:after {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.36) 26%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.36) 26%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.36) 26%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a1000000', endColorstr='#00000000', GradientType=0);
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.banner-innerpage:after {
    background: rgba(0, 0, 0, .5);
}

.banner-innerpage.contact:after {
    background: rgba(0, 0, 0, .2);
}

.banner .caption {
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #fff;
    text-align: center;
}

.banner-innerpage .caption {
    top: 60%;
}

.banner .caption a {
    margin: 0 auto;
    position: relative;
    border-color: #fff;
    color: #fff;
    font-weight: bold;
}

.banner .caption a img {
    margin-right: 25px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.banner .caption a:hover {
    border-color: #d4643d;
}

.banner .caption a:hover img {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.reveal {
    background: none;
    border: none;
    text-align: center;
    padding: 0;
}

.reveal-overlay {
    background-color: rgba(10, 10, 10, 0.8);
}

.info-box {
    background: #fff;
    padding: 0 20px;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    font-size: 0;
}

.info-box:hover {}

.info-box.neg {
    margin-top: -110px;
    position: relative;
}

.info-box .columns,
.info-box .columns:last-child {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.box-text {
    border-right: 1px solid #e1e1e1;
    padding: 27px 50px 17px 10px;
}

.box-text p {
    line-height: 28px;
}

.box-button .btn {
    padding: 13px 10px;
    margin: 0 auto;
}

.badge {
    background: none;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 0;
    min-width: 1px;
    margin-right: 10px;
}

.featured,
.bg_list {
    position: relative;
}

.featured:after,
.bg_list:after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    width: 35%;
    height: 100%;
    background: #3d4756;
    top: 0;
    z-index: -1;
}

.featured-box {
    font-size: 0;
    margin-bottom: 100px;
    display: inline-block;
}

.featured-box .columns,
.featured-box .columns:last-child {
    padding: 0 20px;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.featured-box .columns:first-child {
    padding-right: 0;
}

.featured-box .columns:last-child {
    padding-left: 0;
}

.featured-box-text {
    border: 1px solid #ddd;
    padding: 65px 60px 80px;
    border-right: none;
}

.featured-box-text h3 {
    line-height: normal;
}

.featured-box-text p {
    line-height: 1.6;
}

.featured-box figure {
    margin: 0;
    overflow: hidden;
}

.orbit .info-box:hover {
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.1);
}

.orbit-container {
    font-size: 0;
}

.orbit-previous:hover,
.orbit-next:hover,
.orbit-previous:active,
.orbit-next:active,
.orbit-previous:focus,
.orbit-next:focus {
    background-color: transparent;
}

.orbit-previous,
.orbit-next {
    z-index: 0;
}

.orbit-next {
    background: url(../images/next.png) no-repeat center center;
    right: -50px;
}

.orbit-previous {
    background: url(../images/prev.png) no-repeat center center;
    left: -50px;
}

.orbit-bullets {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
}

.orbit-bullets button {
    background: none;
    border: 2px solid #fff;
    vertical-align: top;
    width: 14px;
    height: 14px;
}

.orbit-bullets button:hover {
    background: #fff;
}

.orbit-bullets button.is-active span {
    background: #fff;
    width: 8px;
    height: 8px;
    margin: 1px;
}

.orbit-bullets button.is-active {
    background: none;
}

.orbit-bullets span {
    border-radius: 50%;
    display: block;
    height: 15px;
    vertical-align: bottom;
    width: 15px;
}

.video .featured-box-text {
    padding: 40px 30px 50px;
    border: none;
}

.featured-box-text blockquote {
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
}

.featured-box-text blockquote:after {
    position: absolute;
    display: block;
    right: 100%;
    bottom: 100%;
    background: url(../images/quote@2x.png);
    width: 38px;
    height: 35px;
    content: "";
}

.featured-box-text blockquote:before {
    position: absolute;
    display: block;
    right: 50px;
    top: 100%;
    background: url(../images/quote@2x.png);
    width: 38px;
    height: 35px;
    content: "";
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.video .featured-box-text p,
.video .featured-box-text small {
    padding-left: 40px;
}

.video .featured-box-text blockquote p {
    padding-left: 0;
    line-height: 35px;
    margin-bottom: 0;
    padding-right: 20px;
}

.video .featured-box-text.info-box {
    margin-bottom: 0;
}

.video .featured-box-text img {
    width: auto;
}

.video .featured-box-img img {
    width: 100%;
}

.center-location figure {
    margin: 0;
}

.center-location figure img {
    width: 100%;
}

.work-with {
    padding: 40px 0 60px;
    text-align: center;
}

.work-with h3 {
    padding-bottom: 20px;
}

.work-with ul {
    margin-left: 0;
    font-size: 0;
    margin-bottom: 30px;
}

.work-with li {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.work-with li figure {
    margin: 15px 20px 25px;
}

.work-with li figure img {
    display: block;
    margin: 0 auto;
}

.work-with a.btn {
    margin: 0 auto;
}

.speak {
    padding: 40px 20px;
    border-top: 1px solid #e1e1e1;
    clear: both;
}

.info-btn-sec {
    height: auto;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 5;
}

.info-btn {
    color: #fff;
    font-size: 14px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    width: 75px;
    z-index: 2;
    cursor: pointer;
}

.info-btn-bg {
    background: #9ad2d9;
    border-radius: 50%;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.18);
}

.info-btn-bg:hover {
    background: #69acb4;
    border: 1px solid #69acb4;
}

.info__list {
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
    display: none;
}

.info__list li {
    position: relative;
}

.info__list__item {
    list-style: none;
    padding-bottom: 0px;
    bottom: 0px;
    width: 75px;
    height: 75px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    margin: 0 auto 15px;
    opacity: 0;
    display: block;
}

.info__list__item a {
    text-decoration: none;
    color: grey;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.info__list__item a img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.info__list__item:first-child {
    background: #3d4755;
}

.info__list__item:hover:first-child {
    border-color: #3d4755;
}

.info__list__item:nth-child(3) {
    top: 0;
    background: #d4643d;
    border-color: #d4643d;
    margin-bottom: 0;
}

.info__list__item:hover:nth-child(3) {
    background: #b94f28;
    border-color: #b94f28;
}

.info__list--animate {
    right: 0;
    -webkit-animation: drop 0.9s;
    animation: drop 0.9s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
}

.info__list--animate .info__list__item {
    -webkit-animation: drop 0.9s;
    animation: drop 0.9s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
}

@-webkit-keyframes drop {
    from {
        bottom: 0px;
    }
    70% {
        bottom: 75px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to {
        bottom: 60px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes drop {
    from {
        bottom: 0px;
    }
    70% {
        bottom: 75px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to {
        bottom: 60px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.banner.banner-innerpage {
    padding: 200px 0;
}

.banner-innerpage.contact {
    padding: 265px 0;
}

.banner-innerpage h1 {
    font-size: 64px;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 76px;
}

.banner-innerpage strong {
    font-size: 24px;
    color: #fff;
    line-height: 34px;
    font-weight: normal;
}

.text-row {
    padding-bottom: 20px;
}

.wo-bdr {
    border: none;
    padding: 0;
}

.blue-row-bg {
    margin-bottom: 50px;
}

.blue-row-bg ul {
    margin: 0;
}

.blue-row-bg li {
    list-style: none;
}

.bg_list {
    padding: 60px 0;
}

.bg_list p {
    line-height: 28px;
}

/*.bg_list:nth-child(2n) .columns:first-child{float:right;}*/
.bg_list .featured-box {
    margin-bottom: 0;
}

.bg_list .featured-box .columns {
    padding: 0 20px;
}

.bg_list:after {
    left: 0;
    right: auto;
}

.bg_list:nth-child(2n):after {
    right: 0;
    left: auto;
}

.out-vc {
    position: relative;
}


/*.out-vc .featured-box-img.in-vc{width:100%;position:absolute;top:50%;left:0;transform:translateY(-50%);}*/

.sec {
    margin-bottom: 30px;
}

.sec-w-bg {
    padding: 65px 0 40px;
    margin-bottom: 40px;
}

.sec-w-bg.bg_grey-lt {
    position: relative;
}

.sec-w-bg.bg_grey-lt::after {
    background: #f1f1f2 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 1000%;
}

.sec-w-spacing-lg {
    padding: 0px 0 0px;
    margin-bottom: 40px;
}

.sec-w-spacing-md {
    padding: 30px 0;
}

.sec-w-spacing-btm {
    margin-bottom: 50px;
}

.sec-w-bg p,
.sec-w-spacing-md p {
    font-size: 18px;
}

.grid-view {
    margin-bottom: 0;
}

.grid-view .bg_list {
    padding-top: 0;
}

.grid-view .bg_list:after {
    display: none;
}

.sec.row-w-img figure {
    margin: 0;
    margin-bottom: 10px;
}

footer {
    background: #3d4756;
    padding-top: 20px;
    color: #fff;
    float: left;
    width: 100%;
}

.footer-box a img {
    width: 200px;
}

.footer-box:first-child ul {
    margin-bottom: 25px;
}

.footer-box ul {
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.footer-box p {
    padding-bottom: 20px;
    color: #fff;
}

.footer-box small {
    padding-bottom: 15px;
    display: block;
}

.footer-box a {
    color: #fff;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.footer-box a.big {
    font-size: 18px;
}

.footer-box a:hover,
.footer-btm a:hover,
.frn_footer a:hover {
    color: #d4643d;
}

.social {
    display: block;
    margin-left: 0;
    margin: 25px 0;
    margin-bottom: 25px;
}

.social li {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 5px;
    font-size: 18px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.social li:first-child {
    margin-left: 5px;
}

.social li:hover {
    background: #d4643d;
    border-color: #d4643d;
}

.social li a {
    color: #fff;
    display: block;
}

.social li:hover a {
    color: #fff;
}

.footer-top-right {
    margin-top: 40px;
}

.footer-top-right .footer-box + .footer-box {
    padding-top: 25px;
}

.footer-btm,
.frn_footer {
    float: left;
    width: 100%;
    border-top: 1px solid #676767;
    padding: 20px 0;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.footer-btm a,
.frn_footer a {
    color: #fff;
}

footer .small-line {
    line-height: 18px;
}

.template-w-sidebar .featured-box p,
.template-w-sidebar .featured-box-text p {
    line-height: 28px;
}

aside {
    margin-top: -20px;
}

.sidebar-element {
    padding-top: 30px;
    margin-bottom: 40px;
    border-top: 1px solid #e1e1e1;
}

.sidebar-element h4 {
    line-height: 34px;
    padding-bottom: 5px;
}

.sidebar-element a {
    display: block;
    margin-bottom: 5px;
}

.sidebar-element:first-child {
    border-top: none;
    margin-bottom: 0
}

.sidebar-element:first-child {
    padding-bottom: 15px;
}

.sidebar-element.no-bdr {
    border-top: none;
}

.social-secondary {
    margin: 0;
}

.social-secondary li {
    width: 77px;
    height: 30px;
    background: #39579a;
    border-radius: 0;
    border: none;
    margin: 0 3px;
    line-height: 30px;
}

.social-secondary li:hover {
    background: #283f72;
}

.social-secondary li:nth-child(2) {
    background: #01abf0;
}

.social-secondary li:nth-child(3) {
    background: #0077B5
}

.social-secondary li:hover:nth-child(2) {
    background: #088fc6;
}

.social-secondary li:hover:nth-child(3) {
    background: #283f72;
}

.page-template-template-contact .caption {
    top: 50%;
}

.page-template-template-contact .featured {}

.page-template-template-contact .featured:after {
    right: auto;
}

.contact-info-box .info-box {
    padding: 40px 25px 30px;
    text-align: center;
    height: 240px;
}

.contact-info-box .info-box a {
    color: #353535;
}

.contact-info-box .info-box figure {
    margin: 0 0 20px;
}

.contact-info-box .columns:nth-child(1) .info-box figure {
    margin-bottom: 30px;
}

.contact-info-box .columns:nth-child(2) .info-box figure {
    margin-top: -7px;
}

.contact-info-box .info-box p {
    line-height: 26px;
    color: #898989;
}

.map-section {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.info-box.address {
    text-align: center;
    padding: 80px 0;
    margin-bottom: 150px;
    display: block;
    clear: both;
}

.flex-video {
    margin-bottom: 0;
}

.map-section .flex-video {
    height: 100%;
}

.map-section iframe {
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
}

.archive h1,
.page-template-template-blog article h1 {
    font-size: 25px;
    text-transform: none;
    line-height: 34px;
}

.archive aside,
.page-template-template-blog aside {
    margin-top: 0;
}

.archive .sidebar-element:first-child,
.page-template-template-blog .sidebar-element:first-child {
    border-top: 1px solid #e1e1e1;
    margin-bottom: 0
}

.archive:not(.single-staff) .top-bar {
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 50px;
}

.archive:not(.single-staff) .top-bar .menu li a,
.archive:not(.single-staff) .top-bar .ubermenu li a {
   color: #979797;
}

.archive .top-bar .menu li a:hover,
.archive article h1 a:hover,
.page-template-template-blog article h1 a:hover {
    color: #d4643d;
}

.archive article,
.page-template-template-blog article {
    padding-bottom: 40px;
}

.archive article h1 a,
.page-template-template-blog article h1 a {
    color: #353535;
}

article figure {
    margin: 0;
}

.archive article p,
.page-template-template-blog article p {
    margin-bottom: 0;
}

.date {
    color: #b2b4b6;
}

.pagination {
    max-width: 480px;
    display: block;
    margin: 0 auto 50px;
    font-size: 0;
    border-radius: 3px;
    height: auto;
    overflow: hidden;
}

.pagination li,
.pagination .wp-paginate li a {
    font-size: 16px;
    height: auto;
    line-height: 33px;
    margin-right: 0;
    vertical-align: top;
    width: 40px;
}

.pagination li {
    border: 1px solid #bcbcbc;
}

.pagination li a {
    color: #676767;
}

.pagination li:last-child {}

.pagination .current,
.pagination li a:hover,
.pagination .wp-paginate li span.current {
    background: #9ad2d9;
    color: #fff;
}

.pagination-next a::after,
.pagination-next.disabled::after,
.pagination-previous a::before,
.pagination-previous.disabled::before {
    display: none;
}

.pagination .wp-paginate a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-right: 0;
    padding: 0;
}

.pagination .wp-paginate a {}

.pagination .wp-paginate li span.current {
    border: medium none;
    color: #fff;
    display: block;
    font-size: 16px;
    height: auto;
    margin-right: 0;
    padding: 0;
    width: 40px;
}

.alphabetical {
    border: none;
    box-shadow: none;
    border-radius: none;
    max-width: inherit;
    height: auto;
    margin-bottom: 30px;
}

.alphabetical li {
    border: none;
    height: auto;
    width: auto;
    line-height: normal;
    padding: 0px;
    display: inline-block;
}

.alphabetical li a {
    color: #9ad2d9;
    padding: 0px 5px;
}

.alphabetical .current,
.alphabetical li.current a {
    color: #fff;
    padding: 0;
}

.alphabetical li.current a {
    padding: 0 5px;
}

.single-post h1 {
    line-height: 50px;
    font-size: 40px;
    color: #353535;
    padding-bottom: 0;
}

.single-post small {
    font-size: 11px;
    padding-bottom: 10px;
    display: inline-block;
}

.single-post small span {
    color: #898989;
}

.single-post article figure {
    /*margin:0 15px 20px 20px;*/}
    .single-post article p {
        padding-bottom: 25px;
    }
    .single-post h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }
    .single-post ol {
        margin-bottom: 30px;
    }
    .single-post ol li {
        font-size: 14px;
    }
    .single-post .social {
        border: none;
    }
    .single-post aside {
        margin-top: -50px;
    }
    .single-post .sidebar-element:first-child {
        border-top: none;
    }
    .location-page .banner {
        margin-bottom: 60px;
        background: url(../images/contact-bnr.jpg) no-repeat center center;
        background-size: cover;
    }
    .location-page .banner:after,
    .page-template-template-location-inner .banner:after,
    .staff-page .banner:after,
    .staff-single .banner:after {
        background: rgba(0, 0, 0, 0.2);
    }
    .location-page .blue-row-bg {
        margin-bottom: 0;
    }
    .row-w-img-text {
        margin-bottom: 70px;
    }
    .row-w-img-text figure {
        margin: 0;
    }
    .row-w-img-text h3 {
        padding: 10px 0;
    }
    .row-w-img-text p {
        line-height: 28px;
    }
    .page-template-template-location-inner .banner {
        background: url(../images/stabilization-bnr.jpg) no-repeat center center;
        background-size: cover;
        margin-bottom: 0;
    }
    .page-template-template-location-inner .blue-row-bg {
        margin-bottom: 0;
    }
    .page-template-template-location-inner .blue-row-bg .bg_list:after {
        right: 0;
        left: auto;
    }
    .page-template-template-location-inner .sec-w-bg p {
        font-size: 16px;
        line-height: 28px;
    }
    .page-template-template-location-inner .sec-w-bg h4.small {
        font-size: 25px;
    }
    .page-template-template-location-inner .staff-sec {
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    .page-template-template-location-inner .staff-sec h3 {
        padding-bottom: 10px;
    }
    .page-template-template-location-inner .staff-sec ul {
        margin-bottom: 20px;
        margin-left: 0;
    }
    .page-template-template-location-inner .staff-sec a.btn {
        margin: 0 auto;
    }
    .page-template-template-location-inner .featured {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .page-template-template-location-inner .featured:after {
        left: 0;
        right: auto;
    }
    .page-template-template-location-inner .featured .info-box.address {
        margin-bottom: 0;
    }
    .slider {
        height: auto;
        padding: 0;
        margin: 0;
    }
    .slick-slide figure {
        margin: 0;
    }
    .sec figure {
        margin: 0;
    }
    .staff-page .banner {
        background: url(../images/staff-bnr.jpg) no-repeat center center;
        background-size: cover;
    }
    .staff-sec {
        padding: 40px 0 20px;
    }
    .staff-sec h3 {
        padding-bottom: 40px;
    }
    .sec .staff-list,
    .staff-list {
        margin-left: 0;
    }
    .staff-list li {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .staff-list li a {
        font-size: 18px;
        color: #353535;
        line-height: 22px;
    }
    .staff-list li a:hover {
        color: #d4643d;
    }
    .staff-list li p {
        margin-bottom: 0;
    }
    .staff-list figure {
        margin: 1em 40px 20px;
    }
    .staff-list li figure img {
        transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .rounded {
        border-radius: 50%;
        margin: 0 0 15px;
        overflow: hidden;
    }
    .rounded img {
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 200px;
    }
    .staff-single .banner {
        background: url(../images/staff-bnr.jpg) no-repeat center center;
        background-size: cover;
    }
    .staff-single aside {
        margin-top: -50px;
    }
    .staff-single h4 {
        padding-bottom: 15px;
        padding-top: 5px;
    }
    .member-detail {
        margin-bottom: 70px;
    }
    .accordion.resources {
        margin-left: 0;
    }
    .accordion-item {
        margin-bottom: 15px;
    }
    .accordion-item > a {
        font-size: 20px;
        color: #fff;
        background: #3d4755;
        padding: 13px 20px;
    }
    .accordion-content.callout.large {
        padding: 25px 45px;
        border: 2px solid #f1f1f2;
        border-top: none;
    }
    .accordion-content a {
        width: 45%;
        display: inline-block;
        margin-bottom: 13px;
    }
    .accordion-title::before {
        margin-top: -0.8rem;
    }
    .accordion-title:hover,
    .accordion-title:focus {
        background-color: #3d4755;
    }
    .accordion-title::before {
        content: '\f106';
        position: absolute;
        font-family: fontAwesome;
        right: 1rem;
        top: 50%;
        margin-top: -1rem;
        font-size: 30px;
    }
    .is-active > .accordion-title {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    .is-active > .accordion-title::before {
        content: '\f107';
    }
    .dropdown-pane {
        max-width: 100%;
        width: 100%;
        background: #1178D7;
        color: white;
        z-index: -1;
    }
    .dropdown-pane img {}
    .dropdown-pane .row li {
        background: #1178D7!important;
        list-style-type: none;
    }
    .dropdown-pane .row .large-9 .columns:last-child {
        border-right: 1px solid silver;
    }
    .dropdown-pane .row .large-3 .columns,
    .dropdown-pane .row .row .large-3.columns ul li {
        background: #0B3358;
    }
    #megamenu-resources img {
        position: relative;
    }
    body.active .dropdown-pane {
        border: medium none;
        padding-bottom: 50px;
        padding-top: 201px !important;
        top: -71px !important;
    }
    .dpsp-column-4.dpsp-has-spacing .dpsp-networks-btns-wrapper li {
        height: 30px;
        width: 77px;
        margin: 0 8px;
    }
    .dpsp-networks-btns-wrapper .dpsp-network-btn {
        line-height: 25px;
    }
    .dpsp-networks-btns-wrapper .dpsp-network-btn::before {
        line-height: 20px;
        font-size: 23px;
        top: 0;
    }
    .top-bar {
        transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
    }
    .top-bar .ubermenu .row {
        max-width: 1200px;
        padding: 0 20px;
    }
    .ubermenu .ubermenu-item-layout-image_left>.ubermenu-target-title {
        line-height: 1em;
    }
    .ubermenu.ubermenu-disable-submenu-scroll .ubermenu-item > .ubermenu-submenu.ubermenu-submenu-type-mega {
        float: left;
        margin-top: -90px;
        padding: 150px 0 50px;
        width: 100%;
        z-index: -1;
    }
    .site-header.ubermenu-header-active .ubermenu-submenu-align-full_width li a {
        color: #fff;
    }
    .ubermenu .ubermenu-item-layout-image_left > .ubermenu-image {
        margin-right: 40px;
    }
    .ubermenu-target-with-image {
        border-right: 1px solid #d8d8d8;
        margin-right: 20px;
    }
    .ubermenu-main .ubermenu-submenu .ubermenu-item-header > .ubermenu-target,
    .ubermenu-main .ubermenu-tab > .ubermenu-target {
        padding: 9px 15px;
    }
    .ubermenu-target-with-image .ubermenu-target-title {
        font-size: 40px;
        font-family: proxima-nova, sans-serif;
        font-weight: 400;
        color: #fff;
        margin-bottom: 0;
        padding-bottom: 0px;
    }
    .ubermenu-target-with-image .ubermenu-target-title:hover {
        color: #d4643d;
    }
    .ubermenu-item-level-1 {
        border-right: 1px solid #d8d8d8;
        margin-right: 20px;
    }
    .ubermenu-target-with-image .ubermenu-target-description {
        font-size: 14px;
        line-height: 24px;
    }
    .top-bar .sticky.is-stuck .ubermenu .ubermenu-target {
        padding: 1em 1.25em 1.50em 1.25em;
    }
    .ubermenu-item-layout-image_left {
        display: inline !important;
    }
    .site-header .top-bar .ubermenu .ubermenu-nav .ubermenu-has-submenu-stack a {
        padding: 5px 0;
    }
    .site-header .top-bar .ubermenu .ubermenu-nav .ubermenu-has-submenu-stack a:hover {
        color: #d4643d;
    }
    .ubermenu-submenu-drop .image-block {
        margin-right: 20px;
        border-right: 1px solid #ddd;
        padding-right: 30px;
    }
    .ubermenu .ubermenu-nav .ubermenu-column-1-6 {
        width: 15.66%;
        text-align: center;
        margin-bottom: 20px;
    }
    .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item.ubermenu-column-auto {
        text-align: center;
    }
    .ubermenu-active > a,
    .top-bar .main-menu .ubermenu-item-level-0 > a {
        position: relative;
    }
    .ubermenu-active > a:after,
    .top-bar .main-menu .ubermenu-item-level-0:hover > a:after {
        position: absolute;
        left: 0;
        right: 0;
        width: 50px;
        height: 2px;
        bottom: 5px;
        content: "";
        background: #d4643d;
        margin: auto;
    }
    .ubermenu .ubermenu-item-layout-image_left>.ubermenu-target-text {
        padding-left: 0 !important;
    }
    .ubermenu .ubermenu-submenu li:not(.image-block) {
        width: 20%;
    }
    .ubermenu .ubermenu-submenu li:not(.image-block) > a {
        width: 100%;
    }
    .ubermenu-main .ubermenu-submenu .ubermenu-custom-content-padded {
        float: left;
        padding: 0 !important;
        margin-top: 10px;
    }
    .menu-icon {
        font-weight: bold;
    }
    .menu-icon.dark {
        width: auto;
        height: auto;
    }
    .menu-icon.dark:after {
        display: none;
    }
    .alphabetical li.disable a.smoothscroll {
        margin-right: 2px;
        color: #eee;
        background: none;
    }
    .bold {
        font-weight: bold;
    }
    .bold.number {
        color: #d4643d;
        transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
    }
    .bold.number a:hover,
    a:focus {
        color: #b94f28;
    }
    .image-block {
        position: relative !important;
    }
    /*.image-block > .ubermenu-content-block{position:absolute;bottom:0;left:25%;}*/
    div.top-bar.sticky-container {
        height: 83px !important;
        margin-bottom: 0px;
    }
    .amazingslider-nav-3 {
        background-color: #fff;
    }
    .single .main-content {
        margin-top: 65px;
    }
    .single-staff .main-content {
        margin-top: 0;
    }
    #recent-posts-2.widget_recent_entries ul {
        /*list-style-type:none;*/}
        .speak p {
            font-size: 30px;
        }
        .sub-nav-fixed .sticky.is-stuck.is-at-top {
            top: 62px !important;
            z-index: 1000;
            left: 0 !important;
            right: 0 !important;
            max-width: 100% !important;
        }
        .sub-nav-fixed .sub-nav {
            text-transform: uppercase;
            list-style-type: none;
            width: 100%;
            text-align: center;
            display: block;
            margin: 0;
        }
        .sub-nav-fixed .sub-nav li {
            padding: 20px;
            display: inline-block;
        }
        .sub-nav-fixed .sub-nav li a {
            border-bottom: 3px solid transparent;
        }
        .sub-nav-fixed .sub-nav li a:hover,
        .sub-nav-fixed .sub-nav li a.active {
            border-bottom-color: #d4643d;
        }
        .orbit-caption {
            font-size: 16px;
        }
        dl.sub-menu {
            display: block;
            width: auto;
            overflow: hidden;
            margin: -0.25rem 0 1.125rem -0.75rem;
            padding-top: 0.25rem;
            list-style-type: none;
        }
        dl.sub-nav dt {
            float: left;
            display: inline;
            margin-right: 1rem;
            margin-bottom: 0.625rem;
            font-family: proxima-nova, sans-serif;
            font-weight: normal;
            font-size: 0.875rem;
            color: #999999;
        }
        dl.sub-nav dd {
            float: left;
        }
        dl.sub-nav dd a {
            text-decoration: none;
            color: #999999;
            padding: 0.1875rem 1rem;
        }
        dl.sub-nav dd.active a {
            -webkit-border-radius: 3px;
            border-radius: 3px;
            font-weight: normal;
            background: #d4643d;
            padding: 0.1875rem 1rem;
            cursor: default;
            color: white;
        }
        ul.side-nav {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        ul.disc,
        ul.disc ul {
            list-style-type: disc;
        }
        ul.circle,
        ul.circle ul {
            list-style-type: circle;
        }
        ul.square,
        ul.square ul {
            list-style-type: square;
        }
        ul.no-bullet,
        ul.no-bullet ul {
            list-style-type: none;
        }
        .button.radius {
            border-radius: .5em;
        }
        .button.round {
            border-radius: 2em;
        }
        .button.right {
            float: right;
        }
        .button.left {
            float: left;
        }
        .button-group li {
            display: inline-block;
        }
        .button-group.radius li:first-of-type .button {
            border-radius: .5em 0 0 .5em;
        }
        .button-group.radius li:last-of-type .button {
            border-radius: 0 .5em .5em 0;
        }
        .button-group.round li:first-of-type .button {
            border-radius: 2em 0 0 2em;
        }
        .button-group.round li:last-of-type .button {
            border-radius: 0 2em 2em 0;
        }
        span.label.round {
            border-radius: 2em;
        }
        span.label.radius {
            border-radius: .5em;
        }
        .th {
            line-height: 0;
            display: inline-block;
            border: solid 4px white;
            max-width: 100%;
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
            -webkit-transition: all 200ms ease-out;
            -moz-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
        }
        .th.radius {
            border-radius: .5em;
        }
        .th:hover,
        .th:focus {
            -webkit-box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
            box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
        }
        .reveal {
            z-index: 1006;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: none;
            padding: 1rem;
            border: 1px solid #cacaca;
            border-radius: 0;
            background-color: #fefefe;
            position: relative;
            top: 100px;
            margin-right: auto;
            margin-left: auto;
            overflow-y: auto;
        }
        .vcard {
            display: inline-block;
            margin: 0 0 1.25rem 0;
            border: 1px solid #dddddd;
            padding: 0.625rem 0.75rem;
        }
        .vcard li {
            margin: 0;
            display: block;
        }
        .vcard .fn {
            font-weight: bold;
            font-size: 0.9375rem;
        }
        code {
            padding: 0;
            background: none;
            border: 0;
        }
        .button {
            background: #d4643d;
        }
        .panel.callout {
            border-color: #c7cec0 !important;
            background: #f1f1f2 !important;
        }
        .panel.callout p,
        .panel.callout h6,
        .panel.callout h5,
        .panel.callout h4,
        .panel.callout h3,
        .panel.callout h2,
        .panel.callout h1 {
            color: #676666 !important;
        }
        .pagination .wp-paginate li {
            line-height: 33px;
        }
        .search-results article {
            margin-bottom: 50px;
        }
        .info__list__item a,
        .info__list__item span {
            width: 100%;
            height: 100%;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
        }
        .info__list__item a#phone,
        .info__list__item span#phone {
            background-image: url(/wp-content/themes/michael/images/phone.svg);
        }
        .info__list__item a#mail {
            background-image: url(/wp-content/themes/michael/images/mail-icon.svg);
        }
        .info__list__item a#chat {
            background-image: url(/wp-content/themes/michael/images/chat-icon.svg);
        }
        .row-w-img .float-right {
            margin-left: 20px !important;
        }
        .row-w-img .float-left {
            margin-right: 20px !important;
        }
        .single-post article figure {
            margin-bottom: 20px;
        }
        .featured-box-img figure {
            width: 100%;
            display: block;
        }
        .screen-reader-text {
            visibility: hidden;
            display: none;
        }
        a.staff_photo {
            width: 150px;
            height: 150px;
            float: left;
            margin: 5px 10px 10px 0;
            border-radius: 75px;
            overflow: hidden;
        }
        .staff_photo img {
            width: 100%;
            height: auto;
        }
        .rounded_photo {
            border-radius: 50%;
            overflow: hidden;
            width: 300px;
            height: 300px;
            margin: 10px 10px 10px 10px;
        }
        .rounded_photo img {
            width: auto;
            height: 100%;
        }
        .display_half {
            max-width: 300px;
            width: 50%;
            max-height: 300px;
            height: auto;
            margin: 10px 10px 10px 10px;
        }
        @media only screen and (max-width:767px) {
            .display_half {
                max-width: 100%;
                width: 100%;
                max-height: 100%;
                height: auto;
                margin: 10px 10px 10px 10px;
            }
            .rounded_photo {
                border-radius: 50%;
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 10px 10px 10px 10px;
            }
            .rounded_photo img {
                width: auto;
                height: 100%;
            }
        }
        .frn_footer p {
            color: #fff
        }
        .lhn_help_btn:hover,
        a.lhn_btn_chat:hover,
        a.lhn_btn_email:hover {
            color: #d4643d;
            text-decoration: underline;
        }
        .contact-info-box figure img {
            max-width: 50px;
        }
        ul#tabExample {
            margin-left: 0;
        }
        .archive.category .main-content {
            padding-top: 4rem;
        }
        @media only screen and (min-width:768px) {
            .single-staff h1 {
                font-size: 75px;
            }
        }
        @media only screen and (max-width:768px) {
            .center-location {
                display: none;
            }
            .accordion-content a {
                display: block;
            }
            .frn_footer {
                padding-bottom: 80px;
            }
            .staff-list li {
                width: 48%;
            }
            .staff-list li figure img {
                width: 100px;
                height: 100px;
            }
        }