#mobile_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	overflow: scroll;
	width: 100vw;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	padding:  15px;
	transition: opacity ease .2s;
	height: 0;
}

@media screen and (max-width: 767px) {
	#mobile_overlay.visible {
		visibility:visible;
		opacity: 1;
		transition: opacity ease .2s;
		height: 100vh;
	}	
}
	


#mobile_overlay #mobileCTA {
	position: relative;
	margin:  auto;
	padding: 45px 25px 25px 25px;
	border-radius: 2px;
	background: #fff;
	color: #676767;
	top:  25vh;
	max-width: 550px;
	
	
}
#mobile_overlay #mobileCTA h3 {
	color: #3d4756;
	font-weight: 500;
}
#mobile_overlay #mobileCTA p.phone-cta {
	font-size: 24px;
	 margin-bottom: 5px;
	padding-bottom: 0;
	color: #d4643d;
	
}
#mobile_overlay #mobileCTA p {text-align: center; padding-bottom: 0; margin-bottom: 0;}


#mobile_overlay #close_btn {
	position: absolute;
	top: 0;
	right: 0;
	height:  60px;
	width: 60px;
	padding:  15px;
	color: #fff;
	background: #3d4756;
	font-size: 30px;
    line-height: 1;
	text-align:  center;
}

.frn_search_box .search-submit {
	outline:0;
	background-color:#d4643d;
	display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    color: #fefefe;
    text-decoration: none;
}

.frn_search_box .search-field {
	width:50%;
}

.search_results .number {
    font-size: 30px;
}

.single-post h2 {
	font-size:30px;
}

/*---------------
VOB POPUP
-----------------*/
.reveal-overlay{
	background-color: rgba(61,71,85,.8);
	padding: 4rem;
}

.reveal-overlay::after{
	content: '';
	position: absolute;
	border-bottom: 100vh solid rgba(0,0,0,.2);
	border-right: 100vw solid transparent;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

#vob-popup.popup-card{
	background-color: #FFFFFF;
	position: relative;
	top: calc(50% - 300px);
	max-width: 1112px;
	margin: 0 auto;
}

#vob-popup.popup-card:focus{
	outline: none;
}

#vob-popup.popup-card .close-button{
	background-color: #D8D8D8;
	width: 46px;
	height: 46px;
	top: 1rem;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card .close-button:hover{
	background-color: #C3C2C2;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card > .row {
	max-width: none;
}

#vob-popup.popup-card > .row > .columns{
	padding: 0;
	height: 650px;
	position: relative;
}

#vob-popup.popup-card > .row > .columns:first-of-type{
	padding: 0 4rem;
}

#vob-popup.popup-card > .row > .columns:first-of-type .card{
	margin-top: 85px;
}

#vob-popup.popup-card > .row > .columns:last-of-type{
	padding: 0 3rem;
	background-color: #F1F1F2;
}

#vob-popup.popup-card > .row > .columns:last-of-type .card{
	margin-top: 160px;
}

#vob-popup.popup-card h1{
	font-size: 4rem;
	line-height: 1;
	color: #707070;
	text-transform: none;
	max-width: 350px;
	margin-bottom: 0;
}

#vob-popup.popup-card h2{
	font-size: 1.875rem;
	font-weight: 600;
	line-height: 1;
	color: #707070;
	margin-bottom: 1.125rem;
}

#vob-popup.popup-card h3{
	font-size: 1.25rem;
	line-height: 1;
	color: #979797;
	text-transform: none;
	margin-bottom: 2rem;
}

#vob-popup.popup-card p{
	font-size: 1.125rem;
	line-height: 1.625rem;
	color: #707070;
	margin-bottom: 2rem;
}

#vob-popup.popup-card p.phone{
	font-size: 1.5rem;
	line-height: 1rem;
	color: #707070;
	margin-bottom: 0;
	font-weight: 600;
	text-align: center;
}

#vob-popup.popup-card p.privacy-policy{
	font-size: 1rem;
	line-height: 1rem;
	color: #979797;
	text-align: center;
	position: absolute;
	margin-bottom: 0;
	bottom: 1.5rem;
	left: 0;
	right: 0;
}

#vob-popup.popup-card .button.primary{
	font-size: 1.5rem;
	line-height: 1;
	background-color: #D26443;
	box-shadow: 0 9px 18px 0 rgba(0,0,0,0.10);;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card .button.primary:hover{
	background-color: #C45C3D;
	transform: translateY(2px);
	box-shadow: 2px 4px 8px rgba(0,0,0,.2);
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card .divider {
	margin: 2rem 0;
	background-color: rgba(151,151,151,.5);
	height: 1px;
	width: 100%;
}

#vob-popup .insurance-container img {
	max-width: 150px;
	margin-bottom: 1.5rem;
}

/* Media Queries*/

@media screen and (max-width: 1139px) and (min-width: 1024px){
	#vob-popup.popup-card > .row > .columns:first-of-type{
		padding: 0 2rem;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type{
		padding: 0 2rem;
	}

	#vob-popup .insurance-container img {
		max-width: 125px;
		margin-bottom: 1.5rem;
	}

	#vob-popup.popup-card h1{
		font-size: 3.5rem;
	}

	#vob-popup.popup-card p{
		font-size: 1.125rem;
		line-height: 1.625rem;
		color: #707070;
		margin-bottom: 1rem;
	}
}/*end media querie 992px - 1139px*/

@media screen and (max-width: 1023px) and (min-width: 769px){
	#vob-popup.popup-card{
		top: calc(50% - 192px);
	}

	#vob-popup.popup-card > .row > .columns{
		height: auto;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type{
		padding: 0 2rem;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type .card{
		margin-top: 0;
		padding: 4rem 0;
	}

	#vob-popup.popup-card h2{
		font-size: 2.75rem;
		text-align: center;
	}

	#vob-popup.popup-card p{
		margin-bottom: 1rem;
	}

	#vob-popup.popup-card p.privacy-policy{
		bottom: 1rem;
	}
}/*end media querie 769px - 991px*/

@media screen and (max-width: 768px){
	.reveal-overlay{
		padding: 1rem;
	}

	#vob-popup.popup-card{
		top: calc(50% - 227px);
	}

	#vob-popup.popup-card > .row > .columns{
		height: auto;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type{
		padding: 0 1.5rem;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type .card{
		margin-top: 0;
		padding: 5rem 0;
	}

	#vob-popup.popup-card h2{
		text-align: center;
	}

	#vob-popup.popup-card p{
		margin-bottom: 1rem;
	}
}/*end media querie 769px - 991px*/

/*-----------------
END VOB POP UP
-------------------*/

/*-----------------
VOB FORM
-------------------*/

#vob-holder {
  background: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #393939;
}
#vob-holder h1, #vob-holder h2, #vob-holder h3, #vob-holder h4, #vob-holder h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.2; }
#vob-holder h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
#vob-holder h5 {
    font-size: 1rem;
    margin: 16px 0; }
#vob-holder label > h5 {
    margin: 8px 0; }
#vob-holder input, #vob-holder textarea, #vob-holder select {
    border-color: #CFCFCF;
    border-radius: 3px; }
#vob-holder input:focus, #vob-holder textarea:focus, #vob-holder select:focus {
     border-color: #287EE2; }
#vob-holder [type='radio'] {
    margin-bottom: 0; }
#vob-holder .optional {
    color: #8E8E8E; }
#vob-holder .button--secure {
    background-image: url("../images/vob-images/lock.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15% center;
    padding-left: 3.75rem !important;
    background-color: #0AB662;
    border-radius: 3px;
    font-size: 1.375rem;
    font-weight: 700;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
    border: none; }
    @media screen and (max-width: 39.9375em) {
    #vob-holder .button--secure {
	   	margin-left: auto;
	    margin-right: auto;
	    display: block; } }
#vob-holder .inner {
	padding: 1.875rem 2.8125rem;
    max-width: 600px;
    margin: auto;
    position: relative; }
#vob-holder .inner.alt {
    background: #fff; }
    @media screen and (max-width: 39.9375em) {
    #vob-holder .inner {
        padding: 1.875rem 0.9375rem; } }
#vob-holder .form-tool-tip {
    margin: 0 8px; }
#vob-holder .has-tip{
   	border-bottom: 0;
}
.tooltip.insurance-company, .tooltip.insurance-id, .tooltip.insurance-phone{
	background-color: #FEFEFE;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	max-width: 20rem !important;
}

.tooltip.insurance-company:before, .tooltip.insurance-id:before, .tooltip.insurance-phone:before{
	display: none;
}
#vob-holder #additional-fields {
	display: block;
}
#vob-holder .patient-reveal, #vob-holder .contact-reveal {
	display: none; 
}
#vob-holder .columns:first-of-type{
	padding-left: 0;
}
#vob-holder .columns:last-of-type{
	padding-right: 0;
}

#vob-holder .g-recaptcha {
	padding-bottom: 2rem;
}
@media screen and (max-width: 39.9375em) {
	#vob-holder .columns{
		padding: 0;
	}
}
#vob-holder .columns.end, #vob-holder .inner.alt .columns{
	padding: 0;
}

#vob-holder .row{
	margin: 0;
}
/*-----------------
END VOB FORM
-------------------*/

/*-----------------
VOB PAGE TEMPLATE
-------------------*/
.vob-page-template.main-content{
	background-color: #F7F7F7;
}

.vob-page-template .banner-innerpage{
	margin-bottom: 0;
}

.vob-page-template #content {
	padding-top: 1.875rem;
}
/*-----------------
END VOB PAGE TEMPLATE
-------------------*/


/*-----------------
TABITHA DIGITAL UPDATES
-------------------*/
.accreditation{
	max-width: 100px;
	margin: 0 auto 1rem;
}
/*-----------------
END TABITHA DIGITAL
-------------------*/

/*-----------------
FOOTER ACCREDITATIONS
-------------------*/
.row.footer-accreditations{
	max-width: 500px;
	margin-bottom: 2rem;
}

.row.footer-accreditations .columns{
	height: 150px;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}

.row.footer-accreditations .naatp-logo{
	max-width: 75px;
	margin: 0 auto;
}

@media only screen and (max-width:639px){
	.row.footer-accreditations .columns{
		height: auto;
		display: block;
	}
}
/*-----------------
END FOOTER ACCREDITATIONS
-------------------*/

/*-----------------
SHORTCODES
-------------------*/

/*Headings*/
.post-template-default #content h1, .post-template-default #content h2, .post-template-default #content h3, .post-template-default #content h4, .post-template-default #content h5, .post-template-default #content h6,
.page-template-default #content h1, .page-template-default #content h2, .page-template-default #content h3, .page-template-default #content h4, .page-template-default #content h5, .page-template-default #content h6,
.page-template-template-frn-formatting  #content h1, .page-template-template-frn-formatting  #content h2, .page-template-template-frn-formatting  #content h3, .page-template-template-frn-formatting  #content h4, .page-template-template-frn-formatting  #content h5, .page-template-template-frn-formatting  #content h6{
	margin-bottom: 1rem;
	color: #353535;
}

.post-template-default #content h1,
.page-template-default #content h1,
.page-template-template-frn-formatting  #content h1{
	text-transform: none;
	font-size: 3rem;
	line-height: 1.25;
}

.post-template-default #content h2,
.page-template-default #content h2,
.page-template-template-frn-formatting  #content h2{
	font-size: 2.625rem;
	line-height: 1.25;
}

.post-template-default #content h3,
.page-template-default #content h3,
.page-template-template-frn-formatting  #content h3{
	font-size: 2.125rem;
	line-height: 1.25;
}

.post-template-default #content h4,
.page-template-default #content h4,
.page-template-template-frn-formatting  #content h4{
	font-size: 1.5625rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.25;
}

.post-template-default #content h5,
.page-template-default #content h5,
.page-template-template-frn-formatting  #content h5{
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.25;
}

.post-template-default #content h6,
.page-template-default #content h6,
.page-template-template-frn-formatting  #content h6{
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;
}


/*Divider*/
.post-template-default #content .divider,
.page-template-default #content .divider,
.page-template-template-frn-formatting  #content .divider{
	background-color: rgba(137,137,137,.5);
	height: 2px;
	margin: 1.5rem 0;
	width: 100%;
}

/*Columns*/
.post-template-default #content .columns,
.page-template-default #content .columns,
.page-template-template-frn-formatting  #content .columns{
	margin-bottom: 1rem;
}

/*Blockquotes*/
.post-template-default #content blockquote,
.page-template-default #content blockquote,
.page-template-template-frn-formatting  #content blockquote{
	font-size: 1rem;
	color: #676767;
	line-height: 2rem;
	font-style: normal;
	padding: 0 0 0 30px;
	border-left: 5px solid #D96344;
	margin-bottom: 1.5rem;
}

.post-template-default #content blockquote cite,
.page-template-default #content blockquote cite,
.page-template-template-frn-formatting  #content blockquote cite{
	font-size: 1.25rem;
	color: #3C4754;
	line-height: 1;
	font-style: normal;
	text-transform: uppercase;
	margin-top: .6rem;
}

.post-template-default #content blockquote.secondary,
.page-template-default #content blockquote.secondary,
.page-template-template-frn-formatting  #content blockquote.secondary{
	padding: 0;
	border: none;
}

/*Lists*/
.post-template-default #content ul:not(.tabs):not(.accordion),
.page-template-default #content ul:not(.tabs):not(.accordion),
.page-template-template-frn-formatting ul:not(.tabs):not(.accordion){
	list-style: none;
	margin-left: 1.5rem;
}

.post-template-default ul:not(.tabs):not(.accordion) #content li,
.page-template-default ul:not(.tabs):not(.accordion) #content li,
.page-template-template-frn-formatting ul:not(.tabs):not(.accordion) #content li{
	margin-bottom: 1rem;
}

.post-template-default #content ul:not(.tabs):not(.accordion) li:before,
.page-template-default #content ul:not(.tabs):not(.accordion) li:before,
.page-template-template-frn-formatting #content ul:not(.tabs):not(.accordion) li:before{
	content: '';
	background-color: #D96344;
	border-radius: 50%;
	display: inline-block;
	margin-left: -1.5rem;
	margin-right: 1rem;
	width: .5rem;
	height: .5rem;
	font-size: 1.5rem;
}

.post-template-default #content ul:not(.tabs):not(.accordion).secondary li:before,
.page-template-default #content ul:not(.tabs):not(.accordion).secondary li:before,
.page-template-template-frn-formatting  #content ul:not(.tabs):not(.accordion).secondary li:before{
	background-color: #3C4754;
}

.post-template-default #content ul:not(.tabs):not(.accordion).disc li:before,
.page-template-default #content ul:not(.tabs):not(.accordion).disc li:before,
.page-template-template-frn-formatting  #content ul:not(.tabs):not(.accordion).disc li:before{
	background-color: #FFFFFF;
	border: 2px solid #D96344;
	width: 1rem;
	height: 1rem;
	margin-left: -2rem;
	margin-bottom: -3px;
}

/*Callouts*/
.post-template-default #content .callout,
.page-template-default #content .callout,
.page-template-template-frn-formatting  #content .callout{
	border: none;
	background-color: #3C4754;
	padding: 30px;
	margin-bottom: 1.5rem;
}

.post-template-default #content .callout > :last-child,
.page-template-default #content .callout > :last-child,
.page-template-template-frn-formatting  #content .callout > :last-child{
	margin-bottom: 0;
	padding-bottom: 0;
}

.post-template-default #content .callout > *,
.page-template-default #content .callout > *,
.page-template-template-frn-formatting  #content .callout > *{
	color: #ffffff;
}

.post-template-default #content .callout.secondary > *, .post-template-default #content .callout.border > *,
.page-template-default #content .callout.secondary > *, .page-template-default #content .callout.border > *,
.page-template-template-frn-formatting  #content .callout.secondary > *, .page-template-template-frn-formatting  #content .callout.border > *{
	color: #353535;
}

.post-template-default #content .callout.primary,
.page-template-default #content .callout.primary,
.page-template-template-frn-formatting  #content .callout.primary{
	background-color: #D96344;
}

.post-template-default #content .callout.secondary,
.page-template-default #content .callout.secondary,
.page-template-template-frn-formatting  #content .callout.secondary{
	background-color: #95D2D8;
}

.post-template-default #content .callout.border,
.page-template-default #content .callout.border,
.page-template-template-frn-formatting  #content .callout.border{
	background-color: #ffffff;
	border: 2px solid #D96344;
}

/*Callout Cards*/
.post-template-default #content .callout-card,
.page-template-default #content .callout-card,
.page-template-template-frn-formatting  #content .callout-card{
	border: 2px solid #D96344;
 	margin-bottom: 30px;
}

.post-template-default #content .callout-card.primary,
.page-template-default #content .callout-card.primary,
.page-template-template-frn-formatting  #content .callout-card.primary{
	border: none;
	background-color: #D96344;
}

.post-template-default #content .callout-card.secondary,
.page-template-default #content .callout-card.secondary,
.page-template-template-frn-formatting  #content .callout-card.secondary{
	border: none;
	background-color: #95D2D8;
}

.post-template-default #content .callout-card .card-media,
.page-template-default #content .callout-card .card-media,
.page-template-template-frn-formatting  #content .callout-card .card-media{
	height: 225px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.post-template-default #content .callout-card .card-content,
.page-template-default #content .callout-card .card-content,
.page-template-template-frn-formatting  #content .callout-card .card-content{
	padding: 30px;
}

.post-template-default #content .callout-card .card-content > *,
.page-template-default #content .callout-card .card-content > *,
.page-template-template-frn-formatting  #content .callout-card .card-content > *{
	color: #353535;
}

.post-template-default #content .callout-card.primary .card-content > *,
.page-template-default #content .callout-card.primary .card-content > *,
.page-template-template-frn-formatting  #content .callout-card.primary .card-content > *{
	color: #ffffff;
}

.post-template-default #content .callout-card .card-content > :last-child,
.page-template-default #content .callout-card .card-content > :last-child,
.page-template-template-frn-formatting  #content .callout-card .card-content > :last-child{
	padding-bottom: 0;
	margin-bottom: 0;
}

.post-template-default #content .callout.no-box, .post-template-default #content .callout.no-box-large,
.page-template-default #content .callout.no-box, .page-template-default #content .callout.no-box-large,
.page-template-template-frn-formatting  #content .callout.no-box, .page-template-template-frn-formatting  #content .callout.no-box-large {
	border: none;
	background: none;
	color: #353535;
	padding: 30px;
	font-size: 1.375rem;
	line-height: 30px;
	font-style: italic;
}

.post-template-default #content .callout.no-box,
.page-template-default #content .callout.no-box,
.page-template-template-frn-formatting  #content .callout.no-box {
	border: none;
	background: none;
	padding: 30px;
	font-size: 1.125rem;
	line-height: 30px;
	font-style: italic;
}


/*Buttons*/
.post-template-default #content .button,
.page-template-default #content .button,
.page-template-template-frn-formatting  #content .button{
	background-color: #3C4754;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

.post-template-default #content .button.primary,
.page-template-default #content .button.primary,
.page-template-template-frn-formatting  #content .button.primary{
	background-color: #D96344;
}

.post-template-default #content .button.secondary,
.page-template-default #content .button.secondary,
.page-template-template-frn-formatting  #content .button.secondary{
	background-color: #95D2D8;
	color: #353535;
}

.post-template-default #content .button.border,
.page-template-default #content .button.border,
.page-template-template-frn-formatting  #content .button.border{
	background-color: #FFFFFF;
	border: 2px solid #D96344;
	color: #D96344;
}

/*Tabs*/
.post-template-default #content .tabs,
.page-template-default #content .tabs,
.page-template-template-frn-formatting  #content .tabs{
	margin: 0;
	background: none;
	padding: 0;
	display: table-cell;
	border: 2px solid #353535;
	border-bottom: 0;
}

.post-template-default #content .tabs.secondary,
.page-template-default #content .tabs.secondary,
.page-template-template-frn-formatting  #content .tabs.secondary{
	border: none;
}

.post-template-default #content .tabs:not(.secondary) .tabs-title:not(:first-of-type):not(:last-of-type),
.page-template-default #content .tabs:not(.secondary) .tabs-title:not(:first-of-type):not(:last-of-type),
.page-template-template-frn-formatting  #content .tabs:not(.secondary) .tabs-title:not(:first-of-type):not(:last-of-type){
	border: 2px solid #353535;
	border-top: 0;
	border-bottom: 0;
}

.post-template-default #content .tabs .tabs-title,
.page-template-default #content .tabs .tabs-title,
.page-template-template-frn-formatting  #content .tabs .tabs-title{
	background-color: #95D2D8;
	position: relative
}

.post-template-default #content .tabs .tabs-title > a,
.page-template-default #content .tabs .tabs-title > a,
.page-template-template-frn-formatting  #content .tabs .tabs-title > a{
	color: #3C4754;
	font-weight: 700;
	font-size: 1.25rem;
	transition: .2s all ease-in-out;
}

.post-template-default #content .tabs.secondary .tabs-title > a,
.page-template-default #content .tabs.secondary .tabs-title > a,
.page-template-template-frn-formatting  #content .tabs.secondary .tabs-title > a{
	color: #3C4754;
	font-weight: 400;
	font-size: 1.25rem;
}

.post-template-default #content .tabs .tabs-title > a[aria-selected='true'],
.page-template-default #content .tabs .tabs-title > a[aria-selected='true'],
.page-template-template-frn-formatting  #content .tabs .tabs-title > a[aria-selected='true']{
	background-color: #3C4754;
	color: #FFFFFF;
}

.post-template-default #content .tabs.secondary .tabs-title > a[aria-selected='true'],
.page-template-default #content .tabs.secondary .tabs-title > a[aria-selected='true'],
.page-template-template-frn-formatting  #content .tabs.secondary .tabs-title > a[aria-selected='true']{
	background-color: #95D2D8;
	color: #3C4754;
	font-weight: 700;
}

.post-template-default #content .tabs.secondary .tabs-title:after,
.page-template-default #content .tabs.secondary .tabs-title:after,
.page-template-template-frn-formatting  #content .tabs.secondary .tabs-title:after{
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	background-color: #D96344;
	height: 0px;
	width: 100%;
	transition: .2s all ease-in-out;
}

.post-template-default #content .tabs.secondary .tabs-title.is-active:after,
.page-template-default #content .tabs.secondary .tabs-title.is-active:after,
.page-template-template-frn-formatting  #content .tabs.secondary .tabs-title.is-active:after{
	height: 5px;
	transition: .2s all ease-in-out;
}

.post-template-default #content .tabs .tabs-title > a:hover,
.page-template-default #content .tabs .tabs-title > a:hover,
.page-template-template-frn-formatting  #content .tabs .tabs-title > a:hover{
	background-color: #69b2b9;
}

.post-template-default #content .tabs-content,
.page-template-default #content .tabs-content,
.page-template-template-frn-formatting  #content .tabs-content{
	border: 2px solid #353535;
	margin-bottom: 30px;
}

.post-template-default #content .tabs-content.secondary,
.page-template-default #content .tabs-content.secondary,
.page-template-template-frn-formatting  #content .tabs-content.secondary{
	border: none;
	background-color: #3C4754;
}

.post-template-default #content .tabs-content.secondary .tabs-panel > *,
.page-template-default #content .tabs-content.secondary .tabs-panel > *,
.page-template-template-frn-formatting  #content .tabs-content.secondary .tabs-panel > *{
	color: #ffffff;
}

.post-template-default #content .tabs-content .tabs-panel,
.page-template-default #content .tabs-content .tabs-panel,
.page-template-template-frn-formatting  #content .tabs-content .tabs-panel{
	padding: 30px;
}

.post-template-default #content .tabs-content .tabs-panel > :last-child,
.page-template-default #content .tabs-content .tabs-panel > :last-child,
.page-template-template-frn-formatting  #content .tabs-content .tabs-panel > :last-child{
	padding-bottom: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .post-template-default #content .tabs,
  .page-template-default #content .tabs,
  .page-template-template-frn-formatting #content .tabs{
    display: block;
  }

  .post-template-default #content .tabs .tabs-title,
  .page-template-default #content .tabs .tabs-title,
  .page-template-template-frn-formatting #content .tabs .tabs-title{
    width: 100%;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .post-template-default #content .tabs.secondary .tabs-title.is-active:after,
  .page-template-default #content .tabs.secondary .tabs-title.is-active:after,
  .page-template-template-frn-formatting #content .tabs.secondary .tabs-title.is-active:after{
    display: none;
  }

  .post-template-default #content .tabs.secondary .tabs-title > a[aria-selected='true'],
  .page-template-default #content .tabs.secondary .tabs-title > a[aria-selected='true'],
  .page-template-template-frn-formatting #content .tabs.secondary .tabs-title > a[aria-selected='true']{
    background-color: #69b2b9;
  }
}

/*Accordions*/
.post-template-default #content .accordion,
.page-template-default #content .accordion,
.page-template-template-frn-formatting  #content .accordion{
	border: 2px solid #353535;
	margin-bottom: 30px;
	padding: 0;
	border-radius: 0;
	background:none;
}

.post-template-default #content .accordion.secondary,
.page-template-default #content .accordion.secondary,
.page-template-template-frn-formatting  #content .accordion.secondary{
	border: 2px solid #FFFFFF;
}

.post-template-default #content .accordion .accordion-item,
.page-template-default #content .accordion .accordion-item,
.page-template-template-frn-formatting  #content .accordion .accordion-item{
	border: 2px solid #353535;
	margin-bottom: 0;
}

.post-template-default #content .accordion.secondary .accordion-item,
.page-template-default #content .accordion.secondary .accordion-item,
.page-template-template-frn-formatting  #content .accordion.secondary .accordion-item{
	border: 2px solid #FFFFFF;
	background-color: #3C4754;
}

.post-template-default #content .accordion .accordion-item.is-active,
.page-template-default #content .accordion .accordion-item.is-active,
.page-template-template-frn-formatting  #content .accordion .accordion-item.is-active{
	background-color: #95D2D8;
}

.post-template-default #content .accordion .accordion-item .accordion-title,
.page-template-default #content .accordion .accordion-item .accordion-title,
.page-template-template-frn-formatting  #content .accordion .accordion-item .accordion-title{
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	color: #353535;
	padding: 30px;
}

.post-template-default #content .accordion .accordion-item .accordion-title:hover,
.page-template-default #content .accordion .accordion-item .accordion-title:hover,
.page-template-template-frn-formatting  #content .accordion .accordion-item .accordion-title:hover{
	background-color: #69b2b9;
}

@media screen and (max-width: 640px) {
	.post-template-default #content .accordion .accordion-item .accordion-title,
	.page-template-default #content .accordion .accordion-item .accordion-title,
	.page-template-template-frn-formatting  #content .accordion .accordion-item .accordion-title{
		font-size: 1.25rem;
		font-weight: 600;
		color: #353535;
		padding: 30px;
	}
}

.post-template-default #content .accordion.secondary .accordion-item .accordion-title,
.page-template-default #content .accordion.secondary .accordion-item .accordion-title,
.page-template-template-frn-formatting  #content .accordion.secondary .accordion-item .accordion-title{
	color: #FFFFFF;
}

.post-template-default #content .accordion.secondary .accordion-item .accordion-title:hover,
.page-template-default #content .accordion.secondary .accordion-item .accordion-title:hover,
.page-template-template-frn-formatting  #content .accordion.secondary .accordion-item .accordion-title:hover{
	background-color: #353535;
}

.post-template-default #content .accordion .accordion-item.is-active .accordion-title,
.page-template-default #content .accordion .accordion-item.is-active .accordion-title,
.page-template-template-frn-formatting  #content .accordion .accordion-item.is-active .accordion-title{
	color: #353535;
	box-shadow: none;
}

.post-template-default #content .accordion .accordion-item .accordion-content,
.page-template-default #content .accordion .accordion-item .accordion-content,
.page-template-template-frn-formatting  #content .accordion .accordion-item .accordion-content{
	background: none;
  	padding: 30px;
  	border: none;
}

.post-template-default #content .accordion .accordion-item .accordion-content > *,
.page-template-default #content .accordion .accordion-item .accordion-content > *,
.page-template-template-frn-formatting  #content .accordion .accordion-item .accordion-content > *{
	color: #353535;
}

/*-----------------
END SHORTCODES
-------------------*/

