@media only screen and (max-width:1300px){.row{max-width:1100px;}
h1{font-size:75px;}
h3{font-size:36px;}
.logo{margin-left:30px;}
.top-bar-right .menu li{padding:0 15px;}
.phone-sec{padding:1em 1.5em 1.25em 1.5em;}
.phone-sec a, .phone-sec span{font-size:26px;}
.banner{padding:300px 0;}
.featured-box-text{padding:45px 20px 50px}
.orbit-previous, .orbit-next{z-index:1;}
.orbit-next{right:20px;}
.orbit-previous{left:20px;}
.social-secondary li{width:68px;}
.top-bar .ubermenu .ubermenu-target, .top-bar .sticky.is-stuck .ubermenu .ubermenu-target{padding:1em .8em 1.25em;}
.top-bar .logo img{width:150px;}
}
@media only screen and (max-width:1200px){h1{font-size:70px;}
h3{font-size:34px;}
.logo{width:130px;margin-left:20px;}
.top-bar-right .menu li{padding:0 10px;}
.phone-sec{padding:19px 16px;}
.sticky.is-stuck .phone-sec{padding:19px 16px;}
.phone-sec p{font-size:18px;}
.phone-sec a, .phone-sec span{font-size:18px;}
.banner{padding:300px 0;}
blockquote{font-size:20px;line-height:32px;}
}
@media only screen and (max-width:1140px){.row{max-width:1000px;}
h3{font-size:32px;line-height:35px;}
.featured-box-text{padding:35px 20px 30px;}
.box-text{padding:27px 30px 17px 0px;}
.bg_list .featured-box-text{padding:35px 0 30px;}
.social-secondary li{display:block;list-style-type:none;margin-bottom:5px;}
.social li:first-child{margin-left:3px;}
.top-bar .ubermenu .ubermenu-target, .top-bar .sticky.is-stuck .ubermenu .ubermenu-target{padding:1em .8em .75em;font-size:15px;}
.top-bar .logo img{width:150px;}
}
@media only screen and (min-width:1024px){.top-bar-right.is-visible-desktop{display:flex;}
.top-bar-right.is-visible-mobile{display:none;}
}
@media only screen and (max-width:1023px){.row{max-width:900px;}
h2{font-size:40px;}
.top-bar-right .menu li{font-size:15px;}
.menu.useful li{font-size:13px;}
.top-bar .ubermenu .ubermenu-target, .top-bar .sticky.is-stuck .ubermenu .ubermenu-target{padding:1em 1.25em 1.50em 1.25em;}
.top-bar-right .menu{margin-right:0;}
.sticky.is-stuck .a-fix{width:150px;}
.phone-sec, .sticky.is-stuck .phone-sec{order: 2;box-sizing:border-box;left:40%;line-height:0;padding:7px 12px;position:absolute;top:0;width:auto;}
.phone-sec a{display:block;font-size:16px;}
.phone-sec span{font-size:11px;display:inline-block;}
.featured-box-text{border:none;padding:35px 20px 30px 0;}
.footer-top-left{text-align:center;padding:0 20px;}
.footer-top-left p.big br{display:none;}
.footer-top-left p.big a{display:inline-block;}
.footer-top-right{padding-bottom:40px;}
.footer-box p{padding-bottom:10px;margin-bottom:0;}
.social-secondary li{width:52px;}
.contact-info-box .info-box{height:auto;padding:30px 15px 30px;}
.top-bar-right.is-visible-desktop{display:none;}
.top-bar-right.is-visible-mobile{display:block;}
.sticky.is-stuck.is-at-top{position:relative;position:fixed;background-color:#3d4755;}
#mobile-stick{position:fixed;}
.sticky.is-stuck .b-fix{display:inline-block !important;}
.sticky.is-stuck .a-fix{display:none !important;}
.top-bar-title{float:left;width:100%;padding:0 20px;margin-right:0;}
.logo{margin-left:0;}
.menu-toggle{float:right;margin-top:30px;}
.menu-mobile{list-style:none;margin-left:0;padding:0 20px;}
.main-menu{float:left;width:100%;padding:80px 0;background:#3d4755;}
.menu-mobile li{display:block;clear:both;position:relative;}
.menu-mobile li > a{display:block;padding:10px 0;color:#fff;letter-spacing:1px;}
.menu-mobile li > ul > li a{text-transform:none;letter-spacing:0;}
.menu-mobile > li > a{border-top:1px solid #979797;}
.menu-mobile > li:first-child > a{border-top:none;}
.menu-mobile li ul{display:none;}
.menu-mobile li > a:hover{color:#b94f28;}
.top-bar-right .is-accordion-submenu li{display:block;}
.top-bar-right .is-accordion-submenu li a{border-top:none;font-size:16px;padding:12px 0;display:block;text-transform:none;letter-spacing:0;}
.top-bar-right .is-accordion-submenu{padding-left:25px;margin-top:0;margin-bottom:20px;width:100%;float:left;}
.top-bar-right .is-accordion-submenu.nested{margin-left:0;}
.site-header.uber-mobile .top-bar-title, .top-bar-right .accordion-menu{background:#3d4755;}
.menu-mobile .is-accordion-submenu-parent > a::after{display:none;}
.menu-mobile .is-accordion-submenu-parent.angle_down::after{color:#fff;content:"\f107";font-family:"fontAwesome";font-size:22px;position:absolute;right:0;top:50%;transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.menu-mobile .is-accordion-submenu-parent.angle_down[aria-expanded="true"]::after{content:"\f106";}
.phone-sec, .sticky.is-stuck .phone-sec{bottom:0;left:0;padding:15px;position:relative;width:100%;}
.phone-sec{position:relative;}
.phone-sec a{font-size:30px;}
.phone-sec span{font-size:14px;}
.top-bar .top-bar-right{width:100%;}
.top-bar-right .menu.useful{float:left;width:100%;}
.top-bar-right .menu.useful li{padding:0;}
.top-bar-right .menu.useful li a{border-top:none;font-size:14px;letter-spacing:1px;padding:12px 0;}
.menu-icon{width:auto;height:auto;color:#fff;letter-spacing:2px;font-size:14px;letter-spacing:2.5px;float:right;}
.menu-icon::after{display:none;}
.video .featured-box-text blockquote p{line-height:32px;font-size:20px;}
.archive.single .top-bar .menu-icon{color:#676666;}
.archive .top-bar .menu li a, .archive .top-bar .ubermenu li a, .page-template-template-blog .top-bar .menu li a, .page-template-template-blog .top-bar .ubermenu li a{color:#fff;}
.archive .top-bar .menu li a:hover, .archive .top-bar .ubermenu li a:hover, .page-template-template-blog .top-bar .menu li a:hover, .page-template-template-blog .top-bar .ubermenu li a:hover{color:#b94f28;}
.archive .top-bar .logo, .page-template-template-blog .top-bar .logo{margin-bottom:10px;}
.uber-mobile .top-bar .top-bar-title, .site-header.uber-mobile .top-bar-title{background:#3d4755;}
}
@media only screen and (max-width:930px){.featured-box .columns{padding:0 20px;}
.orbit-container .columns.medium-6:first-child, .orbit-container .columns.medium-6:last-child{padding:0;}
}
@media only screen and (max-width:850px){.top-bar-right .menu li{font-size:14px;padding:0 5px;}
.menu.useful li{font-size:12px;}
}
@media only screen and (max-width:767px){.mapplic-element{display:none;}
h1{font-size:45px;line-height:45px;}
h1.primary, .banner-innerpage h1{font-size:30px;line-height:32px;letter-spacing:1px;}
h2{font-size:30px;}
h3{font-size:30px;line-height:35px;}
h4{font-size:25px;}
h5, p, .sec-w-bg p, .sec-w-spacing-md p{font-size:16px;}
.big, .lead{font-size:16px;line-height:24px;}
blockquote{font-size:18px;line-height:28px;}
.logo{width:120px;margin-right:10px;margin-bottom:10px;}
.top-bar-right .menu{margin-right:10px;}
.top-bar-right .menu li{font-size:13px;}
.sticky.is-stuck .top-bar-right .menu{margin-bottom:5px;}
.featured:after{display:none;}
.why-michael-house .medium-6{width:100%;}
.speak h4 a{display:block;margin-top:10px;}
.featured-box .columns:last-child{padding:0;}
.bg_list .featured-box .columns{padding:0 20px;}
.accordion-content a{width:100%;}
.accordion-content.callout.large{padding:20px 25px;}
.accordion-item > a{font-size:16px;}
.accordion-title::before{font-size:23px;margin-top:-0.5em;}
.single-post h1{font-size:30px;line-height:34px;}
.single-post article figure{margin:0 0px 20px;}
.single-post h3{font-size:20px;line-height:25px;}
.contact-info-box .info-box.neg{margin-top:-70px;margin-bottom:100px;padding:40px 10px 30px;}
.contact-info-box .medium-4:last-child .info-box{margin-bottom:0;}
.page-template-template-contact .banner.banner-innerpage{padding:160px 0;}
.page-template-template-contact .banner-innerpage .caption{top:50%;}
.page-template-template-contact .banner-innerpage .caption h1{padding-bottom:0;margin-top:55px;}
.page-template-template-contact .banner-innerpage .caption strong{display:none;}
.page-template-template-contact .contact-info-box{position:relative;float:left;width:100%;padding-bottom:100px;}
.page-template-template-contact .contact-info-box:after, .video-slider:after, .center-mapp:after{position:absolute;content:"";display:block;left:0;width:100%;height:100%;background:#3d4756;top:0;z-index:-1;}
.page-template-template-contact .featured::after{display:block;}
.info-box.address{margin-top:-70px}
.map-row{position:relative;}
.map-section{width:100%;}
.contact-info-box .info-box{height:auto;padding:30px 15px 30px;}
.contact-info-box .info-box p{margin-bottom:0;padding-bottom:0;}
.video-slider{position:relative;padding:20px 20px 0;}
.video-slider:after{height:65%;}
.page-template-template-location-inner .bg_list:after{display:none;}
.page-template-template-location-inner .featured .info-box.address{margin-top:0;}
.page-template-template-location-inner .center-mapp::after{width:35%;}
.video .featured-box-text blockquote p{line-height:30px;font-size:18px;}
}
@media only screen and (max-width:639px){.main-menu{padding:20px 0;}
.out-vc .featured-box-img.in-vc{position:static;transform:none;}
.row .row{margin-left:0;margin-right:0;}
h1{font-size:45px;line-height:45px;}
h1.primary, .banner-innerpage h1{font-size:30px;line-height:32px;letter-spacing:1px;}
h2{font-size:28px;}
h3{font-size:24px;line-height:35px;}
h4{font-size:20px;}
h5, p, .sec-w-bg p, .sec-w-spacing-md p{font-size:16px;}
.big, .lead{font-size:16px;line-height:24px;}
blockquote{font-size:18px;line-height:28px;}
.top-bar-title{float:left;width:100%;padding:10px 20px 10px 15px;}
.logo{margin-left:0;margin-top:0;margin-bottom:0;}
.dropdown-pane{max-width:100%;width:100%;background:#1178D7;color:white;overflow:visible;display:none;position:relative;}
.caption h1{padding:0 20px 40px;}
.banner{padding:0;min-height:500px;background:url(../images/mobile-banner-img.jpg) no-repeat center center;background-size:cover;}
.info-btn-sec{//top:60%;}
.info-box-detail{padding:0;}
.info-box-detail .neg{margin-top:0;}
.info-box{text-align:center;padding:40px 0;margin-bottom:30px;}
.box-text{border-right:none;padding:0px 0 17px;}
.box-button{margin:0 auto;}
.box-button .btn{margin:0 auto;}
.featured-box{margin-bottom:40px;}
.why-michael-house .columns{padding:0;}
.featured-box-text{border:none;padding:25px 20px 40px}
.featured-box-text h3{padding:15px 0;}
.featured-box-text p{line-height:26px;}
.orbit-bullets{bottom:20px;}
.featured-box.video .row .columns{padding:0 10px;}
.video .featured-box-text{padding:25px 15px 80px;}
.featured-box-text blockquote{margin-left:0;text-align:left;padding:10px 15px;}
.featured-box-text blockquote::after{right:auto;left:0;}
.featured-box-text blockquote::before{right:0;left:auto;bottom:0;top:auto;}
.video .featured-box-text p, .video .featured-box-text small{padding-left:20px;text-align:left;}
.video .featured-box-text.info-box{text-align:left;}
.featured-box.video .orbit-slide{margin-bottom:30px;padding:0 0px 10px;}
.orbit-container{height:auto !important;}
.orbit-next{background:url(../images/left-arw-grey.png) no-repeat center center;}
.orbit-previous{background:url(../images/right-arw-grey.png) no-repeat center center;}
.featured-box.video .orbit-previous, .featured-box.video .orbit-next{top:auto;bottom:45px;z-index:9;}
.featured-box.video .orbit-previous{left:35%;display:none;}
.featured-box.video .orbit-next{right:35%;display:none;}
.work-with h3{}
.work-with li{width:50%;}
.speak{padding:25px 0 15px;}
.speak h4{font-size:16px;}
.speak a{font-size:30px;display:inline-block;margin-top:10px;}
footer{text-align:center;padding-top:40px;}
.footer-box p{line-height:28px;}
.footer-box p:last-child{line-height:24px;}
.footer-top-right{display:none;}
.footer-btm{padding:20px 30px;}
.banner.banner-innerpage{padding:150px 0;}
.single-staff section.banner.banner-innerpage{padding:80px 0;}
.banner-innerpage .caption{bottom:0;top:auto;}
.banner-innerpage .caption h1{padding-bottom:20px;}
.bg_list{padding:30px 0;}
.bg_list:after{height:50%;width:100%;}
.featured-box-img{box-shadow:0 9px 18px rgba(0, 0, 0, 0.18);}
.bg_list .featured-box-text{padding:15px 0 0;}
.text-row{padding-bottom:40px;}
.sec-w-bg{padding:20px 0 40px;}
.sec-w-bg .featured-box-text{padding:20px 0;}
.sec-w-spacing-lg .featured-box-text{padding:0 0 20px;}
.featured-box .columns:last-child{padding:0 20px;}
.bg_list .featured-box-text{display:block;margin:0 auto;text-align:center;}
.bg_list .featured-box-text{margin:0 auto;}
.sec figure img{width:100%;}
.sec ul{margin-left:30px;}
.page-template-template-location-inner .staff-sec ul{margin-top:20px;}
.archive h1, .page-template-template-blog h1{font-size:20px;line-height:25px;padding:10px 0;}
.archive small, .page-template-template-blog small{padding-bottom:10px;}
article .row .columns{padding:0;}
aside{display:none;}
.social-secondary li{width:77px;}
.social-secondary.show-for-small-only{margin-bottom:20px;}
.member-detail .row .row{margin-left:-20px;margin-right:-20px;}
.page-template-template-contact .featured::after{display:none;}
.map-row{float:left;width:100%;}
.info-box.address{padding:40px 0;margin-bottom:250px;}
.info-box.address p{margin:0;padding:0;}
.page-template-template-location-inner .featured .info-box.address{margin-bottom:150px;margin-top:-40px;}
.page-template-template-location-inner .center-mapp::after{width:100%;height:25%;}
.page-template-template-locations .featured-box .btn{margin:0 auto;}
img.alignright, img.alignleft{display:block;margin:0 auto !important;float:none !important;margin-bottom:20px !important;}
}
.dropdown > span{position:absolute;right:15px;top:15px;width:15px;height:15px;z-index:999999;cursor:pointer;text-align:center}
.dropdown > span:after{content:"\f107";font-size:18px;line-height:18px;color:#fff;display:block;font-family:'FontAwesome';}
.dropdown > span.open{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}